*{
    padding: 0;
    margin: 0;
}
p{
margin: 60px 0px 40px 0px;
text-align:center;
}
#div{
width: 600px;
height: 85px;
margin: 0 auto;
}
#pesquisa{
height: 45px;
border: solid 1px rgb(199, 199, 199);
border-radius: 100px;
}
#botao_google{
text-decoration: none;
background-color:rgba(177, 177, 177, 0.164);
width: 108px;
color: rgb(0, 0, 0);
padding: 10px;
border-radius: 5px;
}
#sorte{
text-decoration: none;
background-color:rgba(177, 177, 177, 0.164);
width: 108px;
color: rgb(0, 0, 0);
padding: 10px;
border-radius: 5px;
}
#botaodiv{
text-align:center;
}